# Dependencies
node_modules

# Build & tooling outputs
.turbo
*.tsbuildinfo
.next
next-env.d.ts
.open-next
cloudflare-env.d.ts
.wrangler
test-results

# Environment & secrets
*.local
.env*
!.env.example
*.pem

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor & OS files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
