name: Deploy

on:
  workflow_run:
    workflows:
      - CI
    types:
      - completed
    branches:
      - main
      - dev

concurrency:
  group: ${{ github.workflow }}-${{ github.event.workflow_run.head_branch }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && (github.event.workflow_run.event == 'push' || github.event.workflow_run.event == 'workflow_dispatch') }}
    permissions:
      contents: read
    env:
      DEPLOY_BRANCH: ${{ github.event.workflow_run.head_branch }}
      DEPLOY_SHA: ${{ github.event.workflow_run.head_sha }}
      NEXT_PUBLIC_ENVIRONMENT: ${{ github.event.workflow_run.head_branch == 'main' && 'production' || 'development' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ env.DEPLOY_SHA }}

      - name: Setup workspace
        uses: ./.github/actions/setup-workspace

      - name: Build
        run: pnpm turbo run build --filter=@repo/web

      - name: Deploy
        run: pnpm --filter @repo/web exec opennextjs-cloudflare deploy
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
